{%- if (KCCServiceMode is defined) -%}
---
apiVersion: core.cnrm.cloud.google.com/v1beta1
kind: ConfigConnector
metadata:
  name: configconnector.core.cnrm.cloud.google.com
spec:
  mode: {{ KCCServiceMode }}
{%-     if KCCServiceMode == 'cluster' %}
  googleServiceAccount: {{ KCCServiceAccount }}@{{ KCCServiceProject }}.iam.gserviceaccount.com
{%-     endif %}
{%- endif -%}
