{%- if projects is defined %}
{%-   for project in projects %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: "gcp-{{ project.name }}"
  annotations:
    cnrm.cloud.google.com/project-id: {{ project.name }}
spec:
{%-   endfor %}
{%- endif -%}
