/opa/data/iam/ Christopher.Olinger@kohls.com rich.holcombe@kohls.com robert.gorichanaz@kohls.com richard.ghattas@kohls.com christopher.proulx@kohls.com james.banach@kohls.com thomas.wesolowski@kohls.com michael.leykin@kohls.com @kohls/sec/ops
/opa/data/service/ Christopher.Olinger@kohls.com rich.holcombe@kohls.com robert.gorichanaz@kohls.com richard.ghattas@kohls.com christopher.proulx@kohls.com james.banach@kohls.com thomas.wesolowski@kohls.com michael.leykin@kohls.com @kohls/sec/ops
