{%- if vpcs is defined %}
{%- for vpc_name, vpc_def in vpcs.items() %}
{%- if vpc_def.routerDef is defined %}
{%- for router_name, router_def in vpc_def.routerDef.items() %}
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeRouter
metadata:
  labels:
    billing-dept-id: "{{ billingDeptId }}"
  name: "{{ router_name }}"
  namespace: "gcp-{{ project.name }}"
{%- if project.deletionProtect | default(true, true) %}
{%-   if router_def.deletionProtect | default(true, true) %}
  annotations:
    cnrm.cloud.google.com/deletion-policy: abandon
{%-   endif %}
{%- endif %}
spec:
  networkRef:
    name: "{{ vpc_name }}"
  description: "{{ router_def.description | default('',true) }}"
  region: "{{ router_def.region }}"
  bgp:
    asn: {{ router_def.routerASN | default(ha_vpn_to_global_transit_asn[project.name][router_name], true) | int }}
    advertiseMode: "{{ router_def.advertiseMode }}"
{#- Block for Generating  Advertised IP Ranges from subnetwork params #}
{%- if router_def.advertiseMode != 'DEFAULT' %}
    advertisedGroups: []
    advertisedIpRanges:
{%-     if router_def.custom_advertised_ip_ranges is defined 
                  and router_def.custom_advertised_ip_ranges.customIPList is defined 
                  and router_def.custom_advertised_ip_ranges.customIPList is not none %}
{%-       for range in router_def.custom_advertised_ip_ranges.customIPList %}
      - range: {{ range }}
{%-       endfor %}
{%-     endif %}
{%-     if router_def.custom_advertised_ip_ranges is not defined or router_def.custom_advertised_ip_ranges.includeSubnetDef %}
{%-       if vpc_def.subnets is defined and vpc_def.subnets is not none %}  
{%-       for subnet_name,subnet_def in vpc_def.subnets.items() %}
{%-         if subnet_def.advertiseRoutes %}
      - range: {{ subnet_def.network.ip }}
{%-           if subnet_def.secondary is defined %}
{%-             for secondary_name,secondary_def in subnet_def.secondary.items() %}
      - range: {{ secondary_def.ip }}
{%-              endfor %}
{%-           endif %}
{%-           if subnet_def.gke is defined %}
{%-             for gke_cluster in subnet_def.gke %}
      - range: {{ gke_cluster.podNetwork.ip }}
      - range: {{ gke_cluster.serviceNetwork.ip }}
{%-              endfor %}
{%-           endif %}
{%-         endif %}
{%-       endfor %}
{%-     endif %}
{%-   endif %}
{%- endif %}
{%- if vpc_def.proxyDeployV2 is defined %}
{%-   for region,regiondef in vpc_def.proxyDeployV2.items() %}
      - range: {{ regiondef.network.ip }}
{%-   endfor %}
{%- endif %}
---
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endif %}
