---
computeDisks:
  disk01-unit-test:
    zone: us-east1-d
  disk02-unit-test:
    zone: us-central1-a
    replicaZone: us-central1-f
    type: pd-ssd
    physicalBlockSizeBytes: 4096
  disk03-unit-test:
    description: A 600GB regional ssd disk
    labels:
      label-one: value-one
      label-two: value-two
    zone: us-west4-b
    replicaZone: us-east4-c
    size: 600
    type: pd-standard
    physicalBlockSizeBytes: 16384
    image:
      external: projects/debian-cloud/global/images/family/debian-9
