{%- if iamPolicyMembers is defined %}
{%-   for iamType, typeData in iamPolicyMembers.items() %}
{%-     for email, roleList in typeData.items() %}
{%-       for role in roleList.roles %}
apiVersion: iam.cnrm.cloud.google.com/v1beta1
kind: IAMPolicyMember
metadata:
  annotations:
{%-     if roleList.deletionProtect | default(false) %}
    cnrm.cloud.google.com/deletion-policy: abandon
{%-     endif %}
  labels:
    managed-by-cnrm: "true"
{%-         if defaultLabels is defined %}
{%-           for key, value in defaultLabels.items() %}
{%-             if role.labels is defined %}
{%-               if not key in role.labels %}
    {{ key }}: "{{ value }}"
{%-               endif %}
{%-             else %}
    {{ key }}: "{{ value }}"
{%-             endif %}
{%-           endfor %}
{%-         endif %}
{%-         if role.labels is defined %}
{%-           for key, value in role.labels.items() %}
    {{ key }}: {{ value }}
{%-           endfor %}
{%-         endif %}
{%-         if iamType == "usersByEmail" %}
  name: user.{{ email | replace("@", ".") | replace(":", ".") | replace("_", ".") | lower }}-{{ role | replace("_", ".") | lower }}
{%-         elif iamType == "serviceAccountsByEmail" %}
  name: serviceaccount.{{ email | replace("@", ".") | replace(":", ".") | replace("_", ".") | lower }}-{{ role | replace("_", ".") | lower }}
{%-         elif iamType == "groupsByEmail" %}
  name: group.{{ email | replace("@", ".") | replace(":", ".") | replace("_", ".") | lower }}-{{ role | replace("_", ".") | lower }}
{%-         endif %}
  namespace: gcp-{{ project.name }}
spec:
  resourceRef:
    kind: Project
  role: roles/{{ role }}
{%-         if iamType == "usersByEmail" %}
  member: "user:{{ email }}"
{%-         elif iamType == "serviceAccountsByEmail" %}
  member: "serviceAccount:{{ email }}"
{%-         elif iamType == "groupsByEmail" %}
  member: "group:{{ email }}"
{%-         endif %}
---
{%-       endfor %}
{%-     endfor %}
{%-   endfor %}
{%- endif %}
