---
storageBuckets:
  {{ project.name }}-01:
    acls:
      usersByEmail:
        pavel.leonovitch@doms.com: READER
        hamilton.hoover@doms.com: WRITER
      groupsByEmail:
        kt-cpa@doms.com: READER

  {{ project.name }}-02:
    acls:
      usersByEmail:
        pavel.leonovitch@doms.com: WRITER
