{%- if (KCCServiceMode is defined) and (KCCServiceMode == 'namespaced') -%}
{%-   if projects is defined -%}
{%-     for project in projects %}
---
apiVersion: core.cnrm.cloud.google.com/v1beta1
kind: ConfigConnectorContext
metadata:
  name: configconnectorcontext.core.cnrm.cloud.google.com
  namespace: "gcp-{{ project.name }}"
spec:
  googleServiceAccount: {{ KCCServiceAccount }}@{{ KCCServiceProject }}.iam.gserviceaccount.com
{%-     endfor %}
{%-   endif -%}
{%- endif -%}
