{%- if projects is defined %}
{%-   for project in projects %}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: eunomia-runner
  namespace: "gcp-{{ project.name }}"
---
{%-      if commonAccessNamespace is undefined or commonAccessNamespace == none %}
{%-        set commonAccessNamespace = [] %}
{%-      endif %}
{%-      if project.name in commonAccessNamespace %}
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: eunomia-runner
  namespace: "gcp-{{ project.name }}"
subjects: 
{%-       for project_rb in projects %}
- kind: ServiceAccount
  name: eunomia-runner
  namespace: "gcp-{{ project_rb.name }}"
{%-       endfor %}
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
{%-     else %}
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: eunomia-runner
  namespace: "gcp-{{ project.name }}"
subjects: 
- kind: ServiceAccount
  name: eunomia-runner
  namespace: "gcp-{{ project.name }}"
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
{%-     endif %}
{%-   endfor %}
{%- endif -%}
