{%- if (KCCServiceMode is defined) -%}
{%-   if projects is defined -%}
---
apiVersion: iam.cnrm.cloud.google.com/v1beta1
kind: IAMPolicy
metadata:
  name: kcc-workload-identity
  namespace: gcp-{{ KCCServiceProject }}
spec:
  resourceRef:
    apiVersion: iam.cnrm.cloud.google.com/v1beta1
    kind: IAMServiceAccount
    name: {{ KCCServiceAccount }}
  bindings:
    - role: roles/iam.workloadIdentityUser
      members:
        - serviceAccount:{{ KCCServiceProject }}.svc.id.goog[cnrm-system/cnrm-controller-manager]
{%-     if (KCCServiceMode == 'namespaced') -%}
{%-       for project in projects %}
        - serviceAccount:{{ KCCServiceProject }}.svc.id.goog[cnrm-system/cnrm-controller-manager-gcp-{{ project.name }}]
{%-       endfor %}
{%-     endif -%}
{%-   endif -%}
{%- endif -%}
