{%- if iamServiceAccounts is defined %}
{%-   for account, account_parameters in iamServiceAccounts.items() %}
apiVersion: iam.cnrm.cloud.google.com/v1beta1
kind: IAMServiceAccount
metadata:
  annotations: 
{%-     if account_parameters.deletionProtect | default(false) %}
    cnrm.cloud.google.com/deletion-policy: abandon
{%-     endif %}
  labels:
    managed-by-cnrm: "true"
{%-     if defaultLabels is defined %}
{%-       for key, value in defaultLabels.items() %}
{%-         if account_parameters.labels is defined %}
{%-           if not key in account_parameters.labels %}
    {{ key }}: "{{ value }}"
{%-           endif %}
{%-         else %}
    {{ key }}: "{{ value }}"
{%-         endif %}
{%-       endfor %}
{%-     endif %} 
{%-     if account_parameters.labels is defined %}
{%-       for key, value in account_parameters.labels.items() %}
    {{ key }}: "{{ value }}"
{%-       endfor %}
{%-     endif %}
  namespace: gcp-{{ project.name }}
  name: "{{ account }}"
spec:
  displayName: "{{ account_parameters.displayName }}"
{%-     if account_parameters.description is defined %}
  description: "{{ account_parameters.description }}"
{%-     endif %}
---
{%-   endfor %}
{%- endif %}
