[platform teams - directory match]
/project_vars/*-openshift-*/ @sean.malloy@doms.com @nicholas.sanborn@doms.com @vincent.sabatini@doms.com @greg.markham@doms.com @kevin.brunow@doms.com

[Security Project]
/project_vars/doms-infosec-*/ @rich.holcombe@doms.com @christopher.proulx@doms.com @thomas.wesolowski@doms.com @Christopher.Olinger@doms.com @james.banach@doms.com @michael.leykin@doms.com @richard.ghattas@doms.com @robert.gorichanaz@doms.com @kelly.neumann@doms.com
/project_vars/doms-sec-bastion-*/ @rich.holcombe@doms.com @christopher.proulx@doms.com @thomas.wesolowski@doms.com @Christopher.Olinger@doms.com @james.banach@doms.com @michael.leykin@doms.com @richard.ghattas@doms.com @robert.gorichanaz@doms.com @kelly.neumann@doms.com
/project_vars/doms-sec-engineering-*/ @rich.holcombe@doms.com @christopher.proulx@doms.com @thomas.wesolowski@doms.com @Christopher.Olinger@doms.com @james.banach@doms.com @michael.leykin@doms.com @richard.ghattas@doms.com @robert.gorichanaz@doms.com @kelly.neumann@doms.com
/project_vars/doms-sec-oasa-*/ @rich.holcombe@doms.com @christopher.proulx@doms.com @thomas.wesolowski@doms.com @Christopher.Olinger@doms.com @james.banach@doms.com @michael.leykin@doms.com @richard.ghattas@doms.com @robert.gorichanaz@doms.com @kelly.neumann@doms.com
/project_vars/doms-sec-okta-*/ @rich.holcombe@doms.com @christopher.proulx@doms.com @thomas.wesolowski@doms.com @Christopher.Olinger@doms.com @james.banach@doms.com @michael.leykin@doms.com @richard.ghattas@doms.com @robert.gorichanaz@doms.com @kelly.neumann@doms.com
/project_vars/doms-sec-vault-*/ @rich.holcombe@doms.com @christopher.proulx@doms.com @thomas.wesolowski@doms.com @Christopher.Olinger@doms.com @james.banach@doms.com @michael.leykin@doms.com @richard.ghattas@doms.com @robert.gorichanaz@doms.com @kelly.neumann@doms.com
/project_vars/doms-sec-cspm-*/ @rich.holcombe@doms.com @christopher.proulx@doms.com @thomas.wesolowski@doms.com @Christopher.Olinger@doms.com @james.banach@doms.com @michael.leykin@doms.com @richard.ghattas@doms.com @robert.gorichanaz@doms.com @kelly.neumann@doms.com
/project_vars/doms-sec-logging-*/ @rich.holcombe@doms.com @christopher.proulx@doms.com @thomas.wesolowski@doms.com @Christopher.Olinger@doms.com @james.banach@doms.com @michael.leykin@doms.com @richard.ghattas@doms.com @robert.gorichanaz@doms.com @kelly.neumann@doms.com

[ETA]
/project_vars/doms-eta-credit-*/ @michael.osiecki@doms.com @Austin.Paul@doms.com

[ETA Finance]
/project_vars/doms-eta-finance-*/ @Austin.Paul@doms.com @John.Traudt@doms.com @Kyle.Windsor@doms.com

[bda-lle/hle/prd]
/project_vars/doms-bda-lle/ @ananth.bilakanti@doms.com @Jasvinder.Singh@doms.com
/project_vars/doms-bda-hle/ @ananth.bilakanti@doms.com @Jasvinder.Singh@doms.com
/project_vars/doms-bda-prd/ @ananth.bilakanti@doms.com @Jasvinder.Singh@doms.com

[merch-in-lle]
/project_vars/doms-merch-in-lle/ @dominick.anggara@doms.com @ben.klink@doms.com @tarak.chadaram@doms.com @Nicholas.Petersson@doms.com

[merch-in-prd]
/project_vars/doms-merch-in-prd/ @dominick.anggara@doms.com @ben.klink@doms.com @tarak.chadaram@doms.com @Nicholas.Petersson@doms.com

[merch-ps-lle]
/project_vars/doms-merch-ps-lle/ @dominick.anggara@doms.com @ben.klink@doms.com @Raktim.Sarkar@doms.com @Nicholas.Petersson@doms.com @Ravichandran.Rajendran@doms.com @Aaron.Wolmutt@doms.com @Darshan.Hasthantra@doms.com @Rafael.Lobato@doms.com @FlavioEmilio.Borges@doms.com @Victor.Moraes@doms.com

[merch-ps-prd]
/project_vars/doms-merch-in-prd/ @dominick.anggara@doms.com @ben.klink@doms.com @Raktim.Sarkar@doms.com @Nicholas.Petersson@doms.com @Ravichandran.Rajendran@doms.com @Aaron.Wolmutt@doms.com @Darshan.Hasthantra@doms.com @Rafael.Lobato@doms.com @FlavioEmilio.Borges@doms.com @Victor.Moraes@doms.com

[merch-pl]
/project_vars/doms-merch-pl-*/ @Joel.Schrock@doms.com @kerry.davis@doms.com @Griffin.Strain@doms.com
/project_vars/doms-merch-item-*/ @Joel.Schrock@doms.com @kerry.davis@doms.com @Griffin.Strain@doms.com

[ecom-tvs-corp]
/project_vars/doms-ecom-tvs-corp-*/ @Thrinath.Kathula@doms.com @Matt.Scholtka@doms.com @kiran.mothekani@doms.com @riteshkumar.ketireddi@doms.com @adrian.davoli@doms.com @mike.bohn@doms.com

[CPE DBAAS]
/project_vars/doms-platform-dbaas-*/ @casey.carlsen@doms.com @kurt.troyer@doms.com @kyle.zimmermann@doms.com @andy.beimel@doms.com @steven.zydek@doms.com @Carissa.Roberts@doms.com @ramesh.venkitaswaran@doms.com @Marsha.Siatczynski@doms.com @Nikita.Belonogov@doms.com

[CPE MAAS]
/project_vars/doms-platform-maas-*/ @kurt.troyer@doms.com @kyle.zimmermann@doms.com @steven.zydek@doms.com @Carissa.Roberts@doms.com @Deepthi.Gadi@doms.com @Michael.Rye@doms.com @ramesh.venkitaswaran@doms.com

[BDA (BDA team needs to be onboarded.)]
/project_vars/doms-bda-scripts-ops/ @bryce.mcmurtry@doms.com

#[CPE IMAGE]
#/project_vars/doms-cpe-image-mgmt-*/ @wade.sweet@doms.com

[ETCC]
/project_vars/doms-etcc-uc-lle/ @michael.osiecki@doms.com @Mark.Schultz@doms.com @Austin.Paul@doms.com

[infra-monitoring]
/project_vars/doms-infra-monitoring*/ @william.mitchell@doms.com @Michael.Rye@doms.com @Larry.McCann@doms.com @Purna.Venkatesh@doms.com

[infra-aiops]
/project_vars/doms-infra-aiops-lle/ @adam.kozuch@doms.com @michael.simpson@doms.com @william.mitchell@doms.com @Benjamin.Buckley@doms.com @owen.vey@doms.com @Brett.Wood@doms.com
/project_vars/doms-infra-aiops-prd/ @adam.kozuch@doms.com @michael.simpson@doms.com @william.mitchell@doms.com @Benjamin.Buckley@doms.com @owen.vey@doms.com @Brett.Wood@doms.com

[cce netx mosaic]
/project_vars/doms-cx-loyalty-retailsrv-*/ @james.ryan@doms.com @manish.parmar@doms.com @dave.wallraff@doms.com

[Security Approval]
/project_vars/*-xpn-*/*-firewall.yml @rich.holcombe@doms.com @christopher.proulx@doms.com @thomas.wesolowski@doms.com @Christopher.Olinger@doms.com @james.banach@doms.com @michael.leykin@doms.com @richard.ghattas@doms.com @robert.gorichanaz@doms.com @kelly.neumann@doms.com
/default_vars/elec-*.yml @rich.holcombe@doms.com @christopher.proulx@doms.com @thomas.wesolowski@doms.com @Christopher.Olinger@doms.com @james.banach@doms.com @michael.leykin@doms.com @richard.ghattas@doms.com @robert.gorichanaz@doms.com @kelly.neumann@doms.com
