---
storageBuckets:
  {{ project.name }}-01:
    acls:
      usersByEmail:
        pavel.leonovitch@kohls.com: READER
        hamilton.hoover@kohls.com: WRITER
      groupsByEmail:
        kt-cpa@kohls.com: READER

  {{ project.name }}-02:
    acls:
      usersByEmail:
        pavel.leonovitch@kohls.com: WRITER
