# bucket policy only and ACLs are not part of these definitions
storageBuckets:
  {{ project.name }}-01:
    versioningEnabled: false
    labels:
      versioning: "false"
      line-of-business: cpe
    retentionPolicy:
      isLocked: true
      retentionPeriod: 86400
    forceDestroy: "true"
    lifecycleRule:
    - action:
        type: Delete
      condition:
        age: 7
        createdBefore: 2021-01-20
    - action:
        type: SetStorageClass
        storageClass: COLDLINE
      condition:
        age: 9
        createdBefore: 2137-01-20

  {{ project.name }}-02:
    versioningEnabled: true
    labels:
      versioning: "true"
      app-name: kcc
    retentionPolicy:
      retentionPeriod: 86400
    forceDestroy: "false"

  {{ project.name }}-03:
    versioningEnabled: true
    labels:
      versioning: "true"
      app-name: kcc
    lifecycleRule:
    - action:
        type: SetStorageClass
        storageClass: STANDARD
      condition:
        age: 9
        matchesStorageClass:
          - COLDLINE
          - ARCHIVE
    - action:
        type: SetStorageClass
        storageClass: NEARLINE
      condition:
        withState: ANY
        numNewerVersions: 1
